<div class="puslapis">
  <div class="eglute">
    <img width="550px" src="assets/tree.jpg" alt="">
    <div class="zaisliukas" style="top: 130px; left: 200px;">
      <img width="60px" [src]="ingos" alt="">
    </div>
    <div class="zaisliukas" style="top: 180px; left: 270px;">
      <img width="60px" [src]="ziviles" alt="">
    </div>
    <div class="zaisliukas" style="top: 220px; left: 170px;">
      <img width="60px" [src]="arno" alt="">
    </div>
    <div class="zaisliukas" style="top: 280px; left: 320px;">
      <img width="60px" [src]="mindaugo" alt="">
    </div>
    <div class="zaisliukas" style="top: 310px; left: 220px;">
      <img width="60px" [src]="pauliaus" alt="">
    </div>
    <div class="zaisliukas" style="top: 410px; left: 120px;">
      <img width="60px" [src]="zydruno" alt="">
    </div>
    <div class="zaisliukas" style="top: 480px; left: 360px;">
      <img width="60px" [src]="egidijaus" alt="">
    </div>
    <div class="pavadinimas" style="top: -15px; left: 90px;">
      BIT KALEDOS 😁😎🎓
    </div>
  </div>
</div>
